@import '../../../variables.scss';

.user-list {
  color: black;
}

.user-list-autocomplete {
  width: 100%;
  padding: 5px;
  color: $grey;
  input {
    width: calc(100% - 24px);
    padding: 6px;
    color: $grey;
  }

  .item {
    padding: 2px 4px;
    cursor: default;
    border-radius: 11px;

    .user-thumbnail {
      vertical-align: middle;
      height: 22px;
      border-radius: 11px;
    }

    .user-name {
      display: inline-block;
      vertical-align: middle;
      text-overflow: ellipsis;
      padding: 5px;
      max-width: 200px;
      overflow: hidden;
      color: $grey;
      font-size: 11px;
    }
  }
}

.user-list-users {
  margin-top: 5px;
  margin-bottom: 5px;
}
