@import "../../../variables.scss";

.user-list {
    color: black;
}

.user-list-autocomplete{
    width:100%;
    input {
        width: calc(100% - 6px);
        padding: 6px 0;
    }
    
    .item {
        padding: 2px 4px;
        cursor: default;
    }
}

.user-list-users {
    margin-top: 5px;
    margin-bottom: 5px;
}