.tag-container {
  form {
    margin-top: 1em;

    .form-row {
      margin-bottom: 10px;
    }

    input[type=text] {
      float: right;
    }
  }
}

.tag-button {
  line-height: 1.1em;
  padding: 6px 0 3px 3px;
  margin-bottom: 3px;
  border-radius: 3px;
  text-align: left;
  width: 100%;
  color: #ccc;
  cursor: pointer;
}