.tag-container {
  form {
    margin-top: 1em;

    .form-row {
      margin-bottom: 10px;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      flex: 0 0 100%;
    }

    label {
      flex: 0 1 auto;
      height: 25px;
      line-height: 23px;
    }

    input[type='text'] {
      border: 1px solid rgba(0, 0, 0, 0.2);
      flex: 0 0 auto;
      padding: 5px;
    }
  }
}

.tag-button {
  line-height: 1.1em;
  padding: 6px 0 3px 3px;
  margin-bottom: 3px;
  border-radius: 3px;
  text-align: left;
  width: 100%;
  color: #ccc;
  cursor: pointer;
}
