.upgrade {
    position: fixed;
    background: rgba(0,0,0,0.5);
    z-index: 999;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    .upgrade-modal {
        padding: 20px 20px;
        border-radius: 5px;
        max-height: calc(100% - 200px);
        max-width: 1000px;
        margin: auto;
        background: white;

        .buttons{
            margin-top: 20px;
            position: relative;
        }
    }
}

.hide {
    display: none;
}

.skip-button {
    position: relative;
    display: inline-block;
    min-width: 0;
    padding: 12px 20px 12px 20px;
    border: 0;
    border-radius: 3px;
    background: rgba(0,0,0,0.5);
    color: white;
    transition: background 0.1s;
    cursor: pointer;
  }

  .confirm-button {
      position: absolute;
      right: 0;
      display: inline-block;
      min-width: 0;
      padding: 12px 20px 12px 20px;
      border: 0;
      border-radius: 3px;
      background: #5d86df;
      color: white;
      transition: background 0.1s;
      cursor: pointer;
    }