$black-text: #222;

$green: #21b56e;
$blue: #a7e4d5;
$red: #efd6d6;
$pink: #b06;

$dark-green: #1a814f;
$dark-blue: #104981;
$dark-red: #720;
$dark-pink: #a05;

$light-blue: #badff1;
$light-green: #c6cee2;
$dark-light-green: #a6adbd;
$dark-light-blue: #9cbccb;

$transparent-green: rgba(70, 100, 90, 0.65);
$transparent-blue: #dcf8f2;
$transparent-red: rgba(80, 50, 50, 0.65);
$transparent-pink: rgba(70, 20, 50, 0.75);

$success-button-color: #21b56e;
$success-button-color-hover: #21b56e;

$transparent-black: rgba(0, 0, 0, 0.2);
$less-transparent-black: rgba(0, 0, 0, 0.5);
$transparent-white: rgba(255, 255, 255, 0.4);
$white: #fbfbfb;
$grey: #63686b;

$list-width: 300px;
$list-radius: 6px;
