@import '../../variables.scss';

.board-about-wrapper {
  position: relative;
  font-size: 16px;
}

.board-about {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 8px 10px 8px 10px;
  border-radius: 3px;
  color: $white;
  transition: background 0.1s;
  cursor: pointer;
}

.board-about:hover,
.board-about:focus {
  background: $transparent-black;
}

.board-about-menu {
  position: absolute;
  top: 100%;
  right: 0;
  width: 400px;
  margin-top: 4px;
  padding: 0 10px;
  border-radius: 3px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.6);
  color: black;
  background: rgba(255, 255, 255, 0.9);
}
@media (max-width: 1024px) {
  .board-about-menu {
    width: 60vw;
  }
}

textarea {
  display: block;
  width: 98%;
  margin-top: 10px;
}

input[type='submit'] {
  display: flex;
  align-items: center;
  height: 34px;
  margin: 8px 3px 8px 3px;
  border: 0;
  border-radius: 3px;
  color: black;
  background: #ccc;
  font-size: inherit;

  &:hover,
  &:focus {
    background: #ddd;
  }
}
