@import '../../variables.scss';

// Header position has to fixed as the user scrolls to the right. Because of a limitation in react-beautiful-dnd library
// the drag-drop context can only have one scroll container so the entire board has to be scrolled. Therefore,
// header has to be part of the page that is being scrolled and as a workaround we use position:fixed.

header {
  font-family: 'Lato', sans-serif;

  font-weight: normal;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  box-sizing: border-box;
  width: 100%;
  height: 80px;
  background: white;
  z-index: 1;
  transition: background 0.3s;
}

.header-title {
  margin-left: 17px;
  display: inline-flex;
  align-items: center;
  font-size: 22px;
  text-decoration: none;
  color: #1594b4;

  img {
    margin-right: 10px;
  }

  b {
    font-weight: 700;
    color: rgb(29, 115, 103);
  }

  span {
    color: #1c468c;
    margin-left: 10px;
  }
}

.header-title img {
  height: 30px;
}

.header-right-side {
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  height: 100%;
  color: white;
}

.user-thumbnail {
  height: 28px;
  border-radius: 3px;
}

.guest-icon {
  padding-top: 2px;
  font-size: 24px;
}

.sign-out-wrapper {
  height: 100%;

  .sign-out-button, button {
    text-decoration: none;
    cursor: pointer;
    width: 100%;
    color: $grey;
    background-color: transparent;
    text-align: left;

    &:hover, &:focus {
      background-color: $transparent-black;
    }
  }

  .sign-out-button {
    display: block;
    height: 100%;
    padding: 0 20px;

    svg {
      height: 100%;
      width: 3em;
      background-color: transparent;
    }
  }

  .sign-out-menu {
    position: absolute;
    top: 100%;
    right: 0;
    min-width: 250px;
    color: $black-text;
    background: white;
    box-shadow: $transparent-black 4px 4px 2px;

    div, button {
      padding: 8px;
      font-size: 14pt;
    }

    div {
      border-bottom: $transparent-black 1px solid;
    }
  }
}

// Some things have to be removed for mobile layouts to avoid overflowing
@media (max-width: 700px) {
  .user-thumbnail,
  .guest-icon {
    display: none;
  }

  .signout-link {
    margin-left: 0px;
  }
}
